#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: paularamirez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
     -  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCk0auWtf0heT7jv2aJSK4P2KO7HfLyUKDd7wbohIi+q1ajjR+DyZYmT/7aSHLeAjL5Mkxu/jiLPF9vTckFu1AWHTrcVeyi14d1LNBlwQmJrKwsQHc2AyaIqpWBcKhnoU6OwsgVZwOqW8zacyC35JwpK5o5apJMDfkZYiko3SOp0aexlz++tEJc8rL9xJ9N7AYkZa7UjsLPLPkTcERtmTkTa5e2e0qARHfbOVyVCny9sSSfMqatfyyIWK1MFA9Nd/ZTCFG8hE3ZXSrIvsl22zWiupIb8v+swaFsubVI1XcpF/oyiaSKVUUckL8KrZZ3hVA2N36wA9lqfnLL3oiLN+p paula@paula-Virtual-Machine 
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
